@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Karla:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kenia:regular&display=swap);

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	color: #fff;
	font-weight: 400;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

h1,
h2,
h3 {
	font-weight: inherit;
	font-size: inherit;
}

/*Header*/









