@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Istok+Web:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Karla:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kenia:regular&display=swap);

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	color: #fff;
	font-weight: 400;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}

ul li {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

h1,
h2,
h3 {
	font-weight: inherit;
	font-size: inherit;
}

/*Header*/

.header {
	background: url('images/Desktop-1.png') 0 0 no-repeat;
	padding-inline: 115px 75px;
}

.header__inner {
	display: flex;
	align-items: center;
	padding-top: 47px;
}

.header__logo {
	margin-right: 190px;
}

.header__list {
	display: flex;
	column-gap: 100px;
	font-family: "Istok Web", sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.preview {
	display: flex;
}





