@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Istok+Web:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Karla:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kenia:regular&display=swap);

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
}

body {
	color: #fff;
	font-weight: 400;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}

ul li {
	list-style: none;
}

button {
	color: inherit;
	font-weight: inherit;
}

img {
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

h1,
h2,
h3 {
	font-weight: inherit;
	font-size: inherit;
}

/*Header*/

.header {
	background: url('images/Desktop-1.png') center/cover no-repeat;
	padding-inline: 115px 75px;
}

.header__inner {
	display: flex;
	align-items: center;
	padding-top: 47px;
}

.header__logo {
	margin-right: 190px;
}

.header__list {
	display: flex;
	column-gap: 100px;
	font-family: "Istok Web", sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.header__item {
	transition: color .3s ease;
}

.header__item:hover {
	color: #D53005;
}

.preview {
	position: relative;
	display: flex;
	column-gap: 338px;
}

.preview__left-side {
	max-width: 412px;
	padding-top: 164px;
}

.preview__title {
	font-family: Kenia, sans-serif;
	font-size: 150px;
	line-height: 1;
	margin-bottom: 175px;
}

.preview__text {
	font-family: "Istok Web", sans-serif;
	font-size: 20px;
}

.preview__headphones {
	position: absolute;
	bottom: 0;
	left: 5%;
}

.preview__right-side {
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.preview__cable {
	position: absolute;
	bottom: -10px;
	right: 100px;
	z-index: -1;
}

/*Music*/

.music {
	font-family: Karla, sans-serif;
	padding-top: 83px;
	padding-left: 122px;
	background: rgb(213, 48, 5);
}

.music__title {
	font-size: 30px;
	line-height: 35px;
}

.music__inner {
	display: flex;
	justify-content: space-between;
}

.music__link {
	display: block;
}

.music__link:not(:last-child) {
	margin-bottom: 88px;
}

.music__buttons {
	margin-top: 267px;
}

.music__button {
	display: block;
	width: 382px;
	padding-block: 18px;
	font-size: 40px;
	cursor: pointer;
	background: radial-gradient(2087.07% 134.42% at 2% 8%, rgb(177, 62, 24), rgb(243, 80, 26) 100%);
	box-shadow: -4px -4px 30px 0px rgba(255, 255, 255, 0.1), 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
	transition: box-shadow .3s ease;
}

.music__button:hover {
	box-shadow: -1px -1px 30px 0px rgba(255, 255, 255, 0.1),
		1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.music__image {
	margin-top: 61px;
}

